.border {
	margin: auto;
	padding: 5px;
	border: 1px;
	border-color: black;
	border-style: solid;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}

.zuitt {
	line-height: 20px;
	margin: 80px;
}

.box {
	box-sizing: border-box;
	background-color: #002540;
	color: white;	
	display: block;
	line-height: 7px;
	font-size: 15px;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 150px;
  margin: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}